<div class="flex flex-row p-6 w-full lg:max-w-[50vw]" *ngIf="settings$ | async as settings">
  <div class="mb-2" *ngIf="poiCategories$ | async as categories">
    <ng-container *ngFor="let category of categories">
      <button
        type="button"
        class="poi-cat-button my-1 w-full inline-block rounded px-3 pb-2 pt-2.5 text-left text-md font-bold capitalize underline-offset-8 leading-normal text-white shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150 ease-in-out hover:bg-primary-600 hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:bg-primary-600 focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:outline-none focus:ring-0 active:bg-primary-700 active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] dark:shadow-[0_4px_9px_-4px_rgba(59,113,202,0.5)] dark:hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)]"
        [ngClass]="{'bg-primary-900': isSelected(settings, category), 'bg-transparent': !isSelected(settings, category)}"
        (click)="toggleMainCategory(category)"
      >
        {{ category.name }}
      </button>
      <div class="flex flex-wrap flex-row ml-1" *ngIf="isSelected(settings, category)">
        <button
          type="button"
          class="inline-flex items-center rounded-full px-3 py-1 mb-2 mr-2 text-xs font-medium leading-loose text-white shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150 ease-in-out hover:bg-primary-600 hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:bg-primary-600 focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:outline-none focus:ring-0 active:bg-primary-700 active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] dark:shadow-[0_4px_9px_-4px_rgba(59,113,202,0.5)] dark:hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)]"
          (click)="toggleSubCategory(subcat)"
          [ngClass]="{'bg-[rgba(var(--ui-button-selected),1)]': isSubCatSelected(settings, subcat), 'bg-[rgba(var(--ui-button-color),1)]': !isSubCatSelected(settings, subcat)}"
          *ngFor="let subcat of category.children"
        > 
          <span class="rounded-full w-[16px] h-[16px] mr-2 bg-white"
            [ngClass]="{'inline-flex': isSubCatSelected(settings, subcat), 'hidden': !isSubCatSelected(settings, subcat)}"
          >
            <svg 
              viewBox="0 0 36 36"
              fill="rgba(var(--ui-button-selected),1)"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path d="m6 14 8 8L30 6v8L14 30l-8-8v-8Z" />
            </svg>
          </span>
          {{ subcat.name }}
        </button>
      </div>
      <br />
    </ng-container>
  </div>
</div>
