<header class="relative flex h-[45vh]
  bg-transparent bg-[url(/assets/background-hero3.jpg)] bg-fixed bg-cover bg-center bg-no-repeat bg-blend-lighten"
></header>
<!-- Planned trips section-->

<section>
  <h1 class="text-xl sm:text-3xl text-left mx-6 my-3 sm:m-6 sm:mb-3">Planned Trips</h1>

<div class="flex flex-col-reverse sm:flex-row sm:mt-6 ml-6 overflow-x-auto bg-transparent ">
  <a
    routerLink="./new"
    class="flex sm:flex-col w-[88vw] h-50 sm:w-60 sm:h-auto 
    uppercase items-center justify-center text-center rounded-lg bg-[rgba(var(--ui-button-color),1)] px-6 py-2 mt-3 sm:mt-0 mb-4 sm:mb-0 leading-normal text-white 
    transition duration-150 ease-in-out"
    data-te-ripple-init
    data-te-ripple-color="light"
    data-te-toggle="modal"
    data-te-target="#new-trip-modal"
    data-te-ripple-init
    data-te-ripple-color="light"
  >
    <span>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="w-6 h-6 sm:w-10 sm:h-10"
      >
        <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
      </svg>
    </span>
    <span
      class="flex ml-2 sm:ml-0 text-md sm:text-2xl font-bold drop-shadow sm:drop-shadow-xl"
      >Add new trip</span
    >
</a>
  <div class="flex pb-6 bg-transparent snap-mandatory snap-x overflow-x-auto" *ngIf="trips$ | withLoadingStatus | async as obs">

    <ng-template [ngIf]="obs.loading">
      <div class="flex w-full grow justify-center items-center p-6">
        <svg class="animate-spin -ml-1 mr-3 h-8 w-8 text-black inline" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
          <circle class="opacity-25" cx="12" cy="12" r="10" stroke="rgb(var(--ui-button-color))" stroke-width="4"></circle>
          <path class="opacity-75" fill="rgb(var(--ui-button-color))" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
        </svg>
        Loading...
      </div>
    </ng-template>
    <ng-template [ngIf]="obs.value">
      <app-trip-card @fadeInOut *ngFor="let trip of obs.value" [trip]="trip"></app-trip-card>
    </ng-template>
  </div>
</div>
</section>


<!-- Simulated section: Past trips-->

<section>
  <h1 class="text-xl sm:text-3xl text-left mx-6 my-3 sm:m-6 sm:mb-3">Past Trips</h1>

  <div class="flex sm:mt-6 ml-6 pb-6 bg-transparent snap-mandatory snap-x overflow-x-auto" *ngIf="trips$ | withLoadingStatus | async as obs">

    <ng-template [ngIf]="obs.loading">
      <div class="flex w-full grow justify-center items-center p-6">
        <svg class="animate-spin -ml-1 mr-3 h-8 w-8 text-black inline" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
          <circle class="opacity-25" cx="12" cy="12" r="10" stroke="rgb(var(--ui-button-color))" stroke-width="4"></circle>
          <path class="opacity-75" fill="rgb(var(--ui-button-color))" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
        </svg>
        Loading...
      </div>
    </ng-template>
    <ng-template [ngIf]="obs.value">
      <app-trip-card @fadeInOut *ngFor="let trip of obs.value" [trip]="trip"></app-trip-card>
    </ng-template>
  </div>
</section>
<router-outlet></router-outlet>

