<a
  *ngIf="place"
  class="inline-flex w-full border-b-2 border-neutral-500 border-opacity-100 py-4 dark:border-opacity-50 hover:cursor-grab"
  style="background-image:url('{{place.pictureUrl}}'); background-size:cover; background-position: center center;"
  [routerLink]="['./places/', place.id]"
>
  <div
    class="flex  rounded-t-md w-full h-full"
  >
  <h6
    class="flex mb-2 text-center leading-tight text-neutral-800 dark:text-neutral-50"
  >
    {{ place.name }}
  </h6>
  </div>
  <div class="p-4 bg-primary-50">
    <p class="mb-4 text-sm font-medium text-neutral-600 dark:text-neutral-200">
      {{ place.description }}
    </p>

    <button
      type="button"
      class="inline-block align-bottom rounded bg-primary px-6 mt-2 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-white shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150 ease-in-out hover:bg-primary-600 hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:bg-primary-600 focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:outline-none focus:ring-0 active:bg-primary-700 active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] dark:shadow-[0_4px_9px_-4px_rgba(59,113,202,0.5)] dark:hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)]"
      data-te-ripple-init
      data-te-ripple-color="light"
    >
      View
    </button>
  </div>
</a>
