<app-off-canvas (onClose)="navigateToTrip()">
    <h5 class="text-xl sm:text-3xl text-left mb-6">
      Your next stop
    </h5>

    <app-add-place *ngIf="lastPlaceAsMarker$ | async as marker" [extraMarkers]="[marker]" [formGroup]="this.form"></app-add-place>

    <div
      class="flex sm:flex-row w-full self-center items-center mt-3 justify-end"
    >
      <button
        type="button"
        class="flex py-2 px-6
          rounded-full align-center justify-center text-xs font-medium uppercase leading-normal text-white bg-[rgba(var(--ui-button-color),1)]
          shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150 ease-in-out
          hover:bg-primary-600 hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)]
          focus:bg-primary-600 focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:outline-none focus:ring-0
          active:bg-primary-700 active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)]"
          data-te-offcanvas-dismiss
      >
        Cancel
      </button>
      <button
        type="button"
        [disabled]="this.form.invalid"
        class="flex py-2 px-6 ml-2

          rounded-full align-center justify-center text-xs font-medium uppercase leading-normal text-white bg-[rgba(var(--ui-button-color),1)]
          shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150 ease-in-out
          hover:bg-primary-600 hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)]
          focus:bg-primary-600 focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:outline-none focus:ring-0
          active:bg-primary-700 active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)]
          disabled:bg-slate-500 disabled:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)]"
        (click)="addPlace()"
      >
        Save changes
      </button>
    </div>
</app-off-canvas>
