<a
  *ngIf="trip$ | async as trip"
  class="block snap-start mr-4 sm:ml-4 sm:mr-0 mb-2 rounded-lg bg-white dark:bg-neutral-700 h-60 sm:h-80 w-[65vw] sm:w-[35vw] shadow-md"
  [routerLink]="['trips/', trip.id]"
>
  <div 
    class="flex rounded-lg w-full h-1/2 border-8 border-b-0 border-white bg-[url(https://images.unsplash.com/photo-1534540378968-85a7b8fde19f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=600&q=80)] bg-cover bg-center bg-blend-lighten"
  >
    <h6 class="flex text-sm text-white mt-auto mb-2 px-3 py-1 leading-tight tracking-wide text-neutral-800 dark:text-neutral-50 rounded-r-lg bg-gray-800 w-70">
      {{ trip.title }}
    </h6>
  </div>
  <div class="sm:flex px-3 pt-3 place-content-between">
    <p class="text-sm font-medium text-neutral-600 dark:text-neutral-200 line-clamp-5">
      {{ trip.description }}
    </p>
    <div *ngIf="tripStart$ | withLoadingStatus | async as obs" class="text-xs">
      <ng-template [ngIf]="obs.loading">
        <p>Loading....</p>
      </ng-template>
      <ng-template [ngIf]="obs.value">
        <p>Start: {{obs.value.name}}</p>
      </ng-template>
    </div>
    <div *ngIf="tripEnd$ | withLoadingStatus | async as obs" class="text-xs">
      <ng-template [ngIf]="obs.loading">
        <p>Loading....</p>
      </ng-template>
      <ng-template [ngIf]="obs.value">
        <p>End: {{obs.value.name}}</p>
      </ng-template>
    </div>
    <div class="flex w-full mt-auto">
      <button
      type="button"
      class="flex py-2 px-6 rounded-lg self-end align-center ml-auto text-xs font-medium uppercase leading-normal text-white bg-[rgba(var(--ui-button-color),1)] shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150 ease-in-out hover:bg-primary-600 hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:bg-primary-600 focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:outline-none focus:ring-0 active:bg-primary-700 active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] dark:shadow-[0_4px_9px_-4px_rgba(59,113,202,0.5)] dark:hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)]"
      data-te-ripple-init
      data-te-ripple-color="light"
      >
        Edit
        <!-- TODO: add edit icon svg -->
      </button>
    </div>
  </div>

</a>
