<div
  *ngIf="trip$ | async as trip"
  class="flex w-[55vw] sm:w-[35vw] h-full min-h-[15rem]
    p-3 mr-4 sm:ml-4 rounded-lg bg-white
    shadow-[rgba(50,50,93,0.25)_0px_2px_5px_-1px,rgba(0,0,0,0.3)_0px_1px_3px_-1px]"
>
  <div class="flex flex-wrap flex-row rounded-md w-full">
    <div
      class="flex rounded-md w-full h-1/2 border-white bg-[url(https://images.unsplash.com/photo-1534540378968-85a7b8fde19f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=600&q=80)] bg-cover bg-center bg-neutral-100"
    >
      <h6 class="flex text-sm text-white mt-auto mb-2 px-3 py-1 leading-[1.1rem] sm:leading-tight tracking-wide text-neutral-800 rounded-r-lg bg-gray-800 w-70">
        {{ trip.title }}
      </h6>
    </div>
    <div class="flex grow px-3 pt-3 place-content-between">
      <p class="flex grow text-sm font-medium text-neutral-600 line-clamp-5">
        {{ trip.description }}
      </p>
      <div *ngIf="tripStart$ | withLoadingStatus | async as obs" class="text-xs">
        <ng-template [ngIf]="obs.loading">
          <p>Loading....</p>
        </ng-template>
        <ng-template [ngIf]="obs.value">
          <p>Start: {{obs.value.name}}</p>
        </ng-template>
      </div>
      <div *ngIf="tripEnd$ | withLoadingStatus | async as obs" class="text-xs">
        <ng-template [ngIf]="obs.loading">
          <p>Loading....</p>
        </ng-template>
        <ng-template [ngIf]="obs.value">
          <p>End: {{obs.value.name}}</p>
        </ng-template>
      </div>
    </div>
    <div class="flex items-center justify-start
      w-full"
    >
      <button
      type="button"
      class="flex py-2 px-6
      rounded-full align-center ml-auto text-xs font-medium uppercase leading-normal text-white bg-[rgba(var(--ui-button-color),1)]
      shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150 ease-in-out
      hover:bg-primary-600 hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)]
      focus:bg-primary-600 focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:outline-none focus:ring-0
      active:bg-primary-700 active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)]"
      data-te-ripple-init
      data-te-ripple-color="light"
      [routerLink]="[trip.id]"
      >
        View
        <!-- TODO: add edit icon svg -->
      </button>
    </div>
  </div>

</div>
