<nav
  class="relative flex w-full flex-wrap items-center justify-between bg-[#FBFBFB] py-2 text-neutral-500 shadow-lg hover:text-neutral-700 focus:text-neutral-700 dark:bg-neutral-600 lg:py-4 z-[1000]"
>
  <div class="flex w-full flex-wrap items-center justify-between px-3">
    <!-- Left elements -->
    <button
    class="block border-0 bg-transparent px-2 text-neutral-500 hover:no-underline hover:shadow-none focus:no-underline focus:shadow-none focus:outline-none focus:ring-0 dark:text-neutral-200 lg:hidden"
    type="button"
    data-te-collapse-init
    data-te-target="#navbarSupportedContent1"
    aria-controls="navbarSupportedContent1"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <!-- Hamburger icon -->
    <span class="[&>svg]:w-7">
      <svg
        width="50px"
        height="50px"
        viewBox="0 0 28 28"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path d="M4 7C4 6.44771 4.44772 6 5 6H24C24.5523 6 25 6.44771 25 7C25 7.55229 24.5523 8 24 8H5C4.44772 8 4 7.55229 4 7Z" fill="#000000"/>
        <path d="M4 13.9998C4 13.4475 4.44772 12.9997 5 12.9997L16 13C16.5523 13 17 13.4477 17 14C17 14.5523 16.5523 15 16 15L5 14.9998C4.44772 14.9998 4 14.552 4 13.9998Z" fill="#000000"/>
        <path d="M5 19.9998C4.44772 19.9998 4 20.4475 4 20.9998C4 21.552 4.44772 21.9997 5 21.9997H22C22.5523 21.9997 23 21.552 23 20.9998C23 20.4475 22.5523 19.9998 22 19.9998H5Z" fill="#000000"/>
      </svg>
    </span>
  </button>
  <!-- Left elements -->

  <!-- Center elements -->
  <div class="flex">
    <!-- Brand -->
    <a
      class="mx-2 my-1 flex items-center text-neutral-900 hover:text-neutral-900 focus:text-neutral-900 lg:mb-0 lg:mt-0"
      href="#"
      >
      <div class="w-10 h-10">
        <app-logo [displaySlogan]="false"></app-logo>
      </div>
    </a>
  </div>
  <!-- Center elements -->

  <!-- Right elements -->
  <div class="relative" data-te-dropdown-ref>
    <!-- Dropdown trigger -->
    <a
      class="hidden-arrow flex h-[4.5vh] w-[4.5vh] items-center whitespace-nowrap transition duration-150 ease-in-out motion-reduce:transition-none border-2 border-white rounded-full shadow-sm"
      href="#"
      id="dropdownMenuButton2"
      role="button"
      data-te-dropdown-toggle-ref
      aria-expanded="false"
    >
      <!-- User avatar -->
      <img
        src="https://placehold.it/60x60"
        class="rounded-full"
        alt="User avatar"
        loading="lazy"
      />
    </a>
    <!-- Second dropdown menu -->
    <ul
      class="absolute px-2 left-auto right-0 z-[1000] float-left m-0 mt-1 hidden min-w-max list-none overflow-hidden rounded-lg border-none bg-white bg-clip-padding text-left text-base shadow-lg dark:bg-neutral-700 [&[data-te-dropdown-show]]:block"
      aria-labelledby="dropdownMenuButton2"
      data-te-dropdown-menu-ref
    >
    <!-- <li class="border-b-[1px]">
      <span class="block w-full px-4 py-2 text-sm font-medium text-left">Username</span>
    </li> -->
    <li>
      <button
        type="button"
        class="block w-full whitespace-nowrap bg-transparent px-4 py-2 text-sm font-normal text-left text-neutral-700 hover:bg-neutral-100 active:text-neutral-800 active:no-underline disabled:pointer-events-none disabled:bg-transparent disabled:text-neutral-400 dark:text-neutral-200 dark:hover:bg-white/30"
        routerLink="/settings"
        data-te-dropdown-item-ref
      >
        Settings
      </button>
    </li>
        <!-- Dropdown menu items -->
    <li *ngIf="isAuthenticated$ | async">
      <button
        type="button"
        class="block w-full whitespace-nowrap bg-transparent px-4 py-2 text-sm font-normal text-left text-neutral-700 hover:bg-neutral-100 active:text-neutral-800 active:no-underline disabled:pointer-events-none disabled:bg-transparent disabled:text-neutral-400 dark:text-neutral-200 dark:hover:bg-white/30"
        (click)="logout()"
        data-te-dropdown-item-ref
      >
        Logout
      </button>
    </li>
  </ul>
  </div>
  <!-- Right elements -->
  </div>
</nav>
