<div *ngIf="place$ | async as vm">
  <ng-container *ngIf="vm === null"
    ><p>
      Could not load your place, please refresh and try again later
    </p>
  </ng-container>
  <div class="flex w-full flex-col sm:flex-row sm:gap-4 ">
    <div *ngIf="mapData$ | async as mapData" class="w-full sm:w-3/5">
      <div style="height: 40vh" class="-mt-3">
        <app-map
          [markers]="mapData.markers"
          [directions]="mapData.direction"
        ></app-map>
      </div>
    </div>
    <div class="flex-1 my-2 w-full sm:w-2/5">
      <ol class="border-l-2 border-neutral-300 dark:border-neutral-500">
        <!-- Previous place -->
        <li
          *ngIf="vm.previousPlace"
          [routerLink]="['../', vm.previousPlace.id]"
          class="relative py-3 -ml-[4px] hover:bg-neutral-100/80 hover:cursor-pointer
          before:flex before:absolute before:w-[6px] before:h-0 before:rounded-lg before:bg-neutral-300/70 before:content['.']"
        >
          <div class="flex-start flex items-center">
            <div
              class="-ml-[3px] mr-3 h-[12px] w-[12px] rounded-full bg-neutral-300 dark:bg-neutral-500"
            ></div>
            <hr
              class="w-[1rem] h-1 ml-[-1rem] bg-neutral-300/50 border-0 rounded dark:bg-gray-700"
            />
            <p class="-ml-[2px] text-sm text-neutral-500 dark:text-neutral-300">
              <span
               class="inline-flex whitespace-nowrap w-[2rem] h-[2rem] rounded-full p-3 bg-neutral-300 items-center justify-center text-[1.05em] font-semibold leading-none text-white"
              >
                {{ vm.previousPlace.order }}
              </span>
            </p>
            <h4 class="mx-2 text-md font-semibold leading-tight">
              Stop at {{ vm.previousPlace.name }}
            </h4>
          </div>
          <div class="ml-[4rem]">
            <span
              *ngIf="vm.previousPlace.budget"
              class="inline-block whitespace-nowrap rounded-ful bg-primary-100 px-[0.65em] pb-[0.25em] pt-[0.35em] text-center align-baseline text-[0.75em] font-bold leading-none text-primary-700"
            >
              {{ vm.previousPlace.budget }}$
            </span>
            <p class="text-sm">
              {{ vm.previousPlace.startDate }} -
              {{ vm.previousPlace.endDate }}
            </p>
          </div>
        </li>
        <!-- This place -->

        <li
          [routerLink]="['../', vm.current.id]"
          class="relative py-3 -ml-[4px] hover:bg-neutral-100/80 hover:cursor-pointer
          before:flex before:top-0 before:absolute before:w-[6px] before:h-[100%] before:rounded-lg before:bg-[rgba(var(--ui-button-color),0.75)] before:content['.']
          "
        >
          <div class="flex-start flex items-center">
            <div
              class="-ml-[3px] mr-3 h-[12px] w-[12px] rounded-full bg-[rgba(var(--ui-button-color),1)] dark:bg-neutral-500"
            ></div>
            <hr
              class="w-[1rem] h-1 ml-[-1rem] bg-[rgba(var(--ui-button-color),0.5)] border-0 rounded dark:bg-gray-700"
            />
            <p class="-ml-[2px] text-sm text-neutral-500 dark:text-neutral-300">
              <span
                class="inline-flex whitespace-nowrap w-[2rem] h-[2rem] rounded-full p-3 bg-[rgba(var(--ui-button-color),1)] items-center justify-center text-[1.05em] font-semibold leading-none text-white"
              >
                {{ vm.current.order }}
              </span>
            </p>
            <h4 class="mx-2 text-md font-semibold leading-tight">
              Stop at {{ vm.current.name }}
            </h4>
          </div>
          <div class="ml-[4rem]">
            <span
              *ngIf="vm.current.budget"
              class="inline-block whitespace-nowrap rounded-full bg-primary-100 px-[0.65em] pb-[0.25em] pt-[0.35em] text-center align-baseline text-[0.75em] font-bold leading-none text-primary-700"
            >
              {{ vm.current.budget }}$
            </span>
            <p class="text-sm">
              {{ vm.current.startDate }} - {{ vm.current.endDate }}
            </p>
          </div>
        </li>

        <!-- Next place -->
        <li
          *ngIf="vm.nextPlace"
          [routerLink]="['../', vm.nextPlace.id]"
          class="relative py-3 -ml-[4px] hover:bg-neutral-100/50 hover:cursor-pointer
          before:flex before:absolute before:w-[6px] before:h-0 before:rounded-lg before:bg-neutral-300/70 before:content['.']"
        >
          <div class="flex-start flex items-center">
            <div
              class="-ml-[3px] mr-3 h-[12px] w-[12px] rounded-full bg-neutral-300 dark:bg-neutral-500"
            ></div>
            <hr
              class="w-[1rem] h-1 ml-[-1rem] bg-neutral-300/50 border-0 rounded dark:bg-gray-700"
            />
            <p class="-ml-[2px] text-sm text-neutral-500 dark:text-neutral-300">
              <span
                class="inline-flex whitespace-nowrap w-[2rem] h-[2rem] rounded-full p-3 bg-neutral-300 items-center justify-center text-[1.05em] font-semibold leading-none text-white"
              >
                {{ vm.nextPlace.order }}
              </span>
            </p>
            <h4 class="mx-2 text-md font-normal leading-tight">
              Stop at {{ vm.nextPlace.name }}
            </h4>
          </div>
          <div class="ml-[4rem]">
            <span
              *ngIf="vm.nextPlace.budget"
              class="inline-block whitespace-nowrap rounded-full bg-primary-100 px-[0.65em] pb-[0.25em] pt-[0.35em] text-center align-baseline text-[0.75em] font-bold leading-none text-primary-700"
            >
              {{ vm.nextPlace.budget }}$
            </span>
            <p class="text-sm">
              {{ vm.nextPlace.startDate }} - {{ vm.nextPlace.endDate }}
            </p>
          </div>
        </li>
      </ol>
    </div>
  </div>

  <!-- <div class="flex flex-row">
    <div *ngFor="let poi of vm.pois">
      <app-stop-card [place]="poi"></app-stop-card>
    </div>
  </div> -->

  <div class="flex flex-wrap flex-row">
    <h2 class="w-full text-lg mb-2">Nearest point of interests</h2>

    <div *ngIf="poi$ | async as pois">
      <ng-container *ngFor="let poi of pois.features" class="flex ">
        <div class="inline-flex items-center rounded-full px-3 py-1 mb-2 mr-2 text-xs font-medium leading-loose shadow-[rgba(50,50,93,0.25)_0px_2px_5px_-1px,rgba(0,0,0,0.3)_0px_1px_3px_-1px] transition duration-150 ease-in-out "
        >
          <input
            class="flex items-center
              mr-2 h-4 w-4 appearance-none justify-center rounded-full
              border-solid border-[1px] border-neutral-300 outline-none bg-white
              before:pointer-events-none before:flex before:h-[0.875rem] before:w-[0.875rem] before:scale-0 before:rounded-full before:bg-white before:opacity-0 before:shadow-[0px_0px_0px_13px_transparent] before:content-['']
              checked:items-center checked:justify-center checked:border-neutral-300 checked:bg-[rgba(var(--ui-button-color),1)]
              checked:before:opacity-[1]
              checked:after:flex checked:after:block checked:after:h-[0.8125rem] checked:after:w-[0.375rem] checked:after:scale-75 checked:after:rotate-45 checked:after:border-[0.125rem] checked:after:border-l-0 checked:after:border-t-0 checked:after:border-solid checked:after:border-white checked:after:bg-transparent checked:after:content-['']
              hover:cursor-pointer hover:before:opacity-[0.04] hover:before:shadow-[0px_0px_0px_13px_rgba(0,0,0,0.6)]
              focus:shadow-none focus:transition-[border-color_0.2s]
              focus:before:scale-0 focus:before:opacity-[0.12] focus:before:shadow-[0px_0px_0px_13px_rgba(0,0,0,0.6)] focus:before:transition-[box-shadow_0.2s,transform_0.2s] "
            type="checkbox"
            [checked]="tripHasPoi(vm.pois, poi.properties.osm_id)"
            (click)="togglePoi(vm.current, poi)"
            [value]="poi.properties.osm_id"
            [id]="'checkbox'+poi.properties.osm_id" />
          <label
            class="inline-block pl-[0.15rem] hover:cursor-pointer text-sm"
            [for]="'checkbox'+poi.properties.osm_id">
            {{poiName(poi)}}
          </label>
        </div>
      </ng-container>
    </div>
  </div>
</div>
