
<div *ngIf="trip$ | withLoadingStatus | async as obs">
  <ng-template [ngIf]="obs.loading"><p>Loading...</p></ng-template>
  <ng-template [ngIf]="obs.value">
    <p>{{obs.value.title}}</p>
    <div style="height: 500px;" *ngIf="placesAsMarkers$ | withLoadingStatus | async as markersObs">
      <ng-template [ngIf]="markersObs.loading">Loading map....</ng-template>
      <ng-template [ngIf]="markersObs.value">
        <app-map [markers]="markersObs.value"></app-map>
      </ng-template>
      <ng-template [ngIf]="markersObs.error">
        Error loading places for your trip, please reload...
      </ng-template>
    </div>
    <!-- <pre>{{obs.value | json }}</pre> -->
  </ng-template>
  <ng-template [ngIf]="obs.error">
    <pre>{{obs.error | json}}</pre>
  </ng-template>
</div>
