/* You can add global styles to this file, and also import other style files */
@tailwind base
@tailwind components
@tailwind utilities
@import 'ngx-toastr/toastr'

$baseCeolor: rgba(253, 116, 7, 1)
$themeColor: #F2D1B3

@font-face
  font-family: 'Kanit-Regular'
  src: url('/assets/fonts/Kanit/Kanit-Regular.ttf')
@font-face
  font-family: 'Kanit-Medium'
  src: url('/assets/fonts/Kanit/Kanit-Medium.ttf')
@font-face
  font-family: 'Muli-Regular'
  src: url('/assets/fonts/Muli/Muli-Regular.ttf')
@font-face
  font-family: 'Muli-Light'
  src: url('/assets/fonts/Muli/Muli-Light.ttf')

*
  transition: all .3s ease-in-out .3s

html
  height: 100%
  width: 100%
  margin: 0
  padding: 0
  font-kerning: normal
  text-rendering: optimizeLegibility
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004)
  -moz-osx-font-smoothing: grayscale

body
  height: 100%
  width: 100%
  margin: 0
  padding: 0

  background-color: rgba(200,200,200,0.2)

  font-family: Muli-Light, Futura, Helvetica, Arial, sans-serif


h1, h2, h3, h4, h5, h6
  font-family: 'Kanit-Medium'

.leaflet-control-attribution
  display: none

.place-icon
  display: flex
  justify-content: center
  align-items: center
  font-weight: 700
  background-color: rgba(48, 97, 175, .9)
  border-radius: 50%
  color: white
  border: 2px solid white

.place-icon.highlight
  background-color: green
  font-weight: 700
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset